.btn {
	padding: 10px 15px;
	/* background: none; */
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.btn-primary {
	background: dodgerblue;
	color: #fff;
	transition: background 0.15s;
}

.btn-primary:hover {
	background: rgb(75, 165, 255);
}

.btn-secondary {
	background: rgb(92, 92, 92);
	color: #fff;
	transition: background 0.15s;
}

.btn-secondary:hover {
	background: rgb(166, 166, 166);
}

.btn-danger {
	background: rgb(255, 0, 0);
	color: #fff;
	transition: background 0.15s;
}

.btn-danger:hover {
	background: rgb(251, 79, 79);
}

.btn-info {
	background: rgb(224, 209, 0);
	color: #000;
	transition: background 0.15s;
}

.btn-info:hover {
	background: rgb(254, 251, 89);
}

.btn-success {
	background: rgb(0, 201, 30);
	color: #fff;
	transition: background 0.15s;
}

.btn-success:hover {
	background: rgb(115, 255, 120);
}
